#grad1{
    width: 100%;
    height: 20px;
    background-image: linear-gradient(to right, red , green , lightgreen , yellow );
    text-align: center;
    text-decoration: underline solid black;
    font: bold;
}
#list1{
    width: 50%;
    height: 70px;
    border: 3px solid red;
    border-radius: 10px;
    background-color: rgba(75, 211, 209, 0.737);
    margin-bottom: 15px;
    justify-content: center;
    padding-left: 30%;
    margin-left: 15%;
    
}
#boxes{
    width: 100%;
    height: 160px;
    border: 2px solid rgb(123, 72, 35);
    border-radius: 15px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    
    
}
.box1{
    width:400px;
    height: 75px;
    background-color: rgb(82, 225, 233);
    border: 3px solid green;
    border-radius: 10px;
    font-weight: bold;
}
.box2{
    width:400px;
    height: 75px;
    background-color: rgb(82, 225, 233);
    border: 3px solid green;
    border-radius: 10px;
    font-weight: bold;
}
.box3{
    width:400px;
    height: 75px;
    background-color: rgb(82, 225, 233);
    border: 3px solid green;
    border-radius: 10px;
    font-weight: bold;
}
.box4{
    width:400px;
    height: 75px;
    background-color: rgb(82, 225, 233);
    border: 3px solid green;
    border-radius: 10px;
    font-weight: bold;
}
#grad2{
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to right, red , yellow ,red);
    text-align: center;
    text-decoration: underline solid red;
    font: bold;
}
#boxes2{
    width: 100%;
    height: 30%;
    border: 3px solid green;
    background-image: radial-gradient(blue , rgb(68, 197, 68) );
}


#boxes2{
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 220px;
    border: 2px solid rgb(123, 72, 35);
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    
    
    
}
.std1{
    width:200px;
    height: 75px;
    background-color: yellow;
    border: 3px solid red;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline solid red;
    color: maroon;
}
.std2{
    width:220px;
    height: 75px;
    background-color:yellow;
    border: 3px solid red;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline solid red;
    color: maroon;
}
.std3{
    width:220px;
    height: 75px;
    background-color: yellow;
    border: 3px solid red;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline solid red;
    color: maroon;
}
.std4{
    width:220px;
    height: 75px;
    background-color: yellow;
    border: 3px solid red;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline solid red;
    color:maroon;
}
#last-div{
    
    display: grid;
    width: auto;
    grid-template-columns: 27% 27% 27% 10%;
    grid-template-rows: 10% 18% auto 6%; 
  
    grid-gap: 3% 3%

    
  
  
  }
  
  #item-1{
    text-align: center;
    position: relative;

  }

  
  
  .item-1{
    position: relative;
    bottom: 20px;
  }
  
  
  #item-2{
     
    text-align: center;
    font-size: large;
    font-weight: bold;
    
  }
  
  
  #item-3{
     
   
    font-size: x-large;
    font-weight: bold;
    
    
  }
  
  
  
  #item-4{
      
   
    font-size: medium;
    font-weight: bold;
   
    
  }
  
  
  #item-5{
   
    font-size: 16px;
    
  }
  
  #item-6{
    font-weight: bold;
    font-size: 100%;
    
  }
  
  #item-7{
    text-align: center;
    position: relative;
    
  }
  
  .item-7{
    position: relative;
    bottom: 16px;
    
  }
  
  
   .para{
    margin-top: 0px;
    margin-bottom: 1px;
  }  
  
  /* #item-1{
    grid-column-start: 1;
    grid-column-end: 5;
  } */
  
  #item-1{
    background-color: red;
    color: white;
    font: bold;
    grid-column: 1 / -1;
    margin-top: 10px;
    
  }
  
  #item-2{
    background-color: rgb(34, 118, 7);
    color: white;
    grid-column: 1 / 2;
  }
  
  #item-3{
    background-color: rgb(19, 53, 125);
    color: white;
    grid-column: 2 / 3;
  }
  
  #item-4{
    background-color: rgb(142, 141, 228);
    color: white;
    grid-column: 3 / 4;
  }
  
  #item-5{
    background-color: black;
    color: white;
    grid-column: 4 / 5;
  }
  
  #item-5{
    grid-row: 2 / 4;
  }
  
  #item-6{ background-color: rgb(125, 86, 72);
    color: white;
    grid-column: 1 / 4;
  }
  
  #item-7{
    background-color: rgb(47, 175, 175);
    grid-column: 1 / -1;
  }
  
  @media (max-width: 1161px) {
    #item-3,#item-2,#item-6{
  
      padding-top: 15px;
        font-size: 8px;
        font-weight: bolder;
    }
  
    #item-5{
      font-size: 5px;
    }
  
    #item-4{
      font-size: 8px;
        font-weight: bolder;
    }
  }  

  @media (max-width: 1161px) {
    #item-3,#item-2,#item-6{
  
      padding-top: 15px;
        font-size: 8px;
        font-weight: bolder;
    }
  
    #item-5{
      font-size: 5px;
    }
  
    #item-4{
      font-size: 8px;
        font-weight: bolder;
    }
  }